
# SQL Server URL
# use jtds driver to connect via Windows Authentication on Linux
# change SERVER_ADDRESS, DATABASE_NAME, DOMAIN_NAME
jdbc.url=jdbc:jtds:sqlserver://SERVER_ADDRESS:1433;databaseName=DATABASE_NAME;domain=DOMAIN_NAME;useNTLMv2=true;

jdbc.username=
jdbc.password=

jdbc.driver=net.sourceforge.jtds.jdbc.Driver
